body{
    background-color: #3F3B6C;
    
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #3A4F7A;
    padding-bottom: 60px;
  }

.Title_heading{
    color: #000000;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 6rem;
    padding-top: 20px;
    margin-bottom: 0%;
}


.dice {
    color: #002E94;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    text-align: center;
    display: inline-block;
  }

.img1 , .img2{
    width: 75%;
}

.refresh_btn{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    
  }

input{
    font-size: 20px;
    background-color: #2DCDDF;
}

footer{
    color: #47B5FF;
    text-align: center;
}




